.apply-container {
    padding: 35px;
}

.form-container {
    background-color: #F9F2ED;
    padding: 48px 64px;
    display: flex;
    flex-direction: column;
}

.form-container form {
    display: flex;
    flex-direction: column;
}

.form-container form label {
    margin-bottom: 8px;
    color: #3AB0FF;
}

.input-area {
    height: 54px;
    padding: 10px 24px;
    border: 0px;
    font-family: "Work Sans";
    font-size: 16px;
    margin-bottom: 24px;
}

.input-dropdown {
    padding: 16px 24px;
    font-family: "Work Sans";
}

#publication-type-label {
    color: #3AB0FF;
}

#publication-type {
    margin-bottom: 24px;
}

#publication-type label {
    color: #555;
    font-size: 15px;
}

.slider {
    -webkit-appearance: none;
    width: 50%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
}

.form-container form input[type=submit] {
    height: 50px;
    width: 20%;
    margin-top: 20px;
    font-family: "Work Sans", sans-serif;
    background-color: #3ab0ff;
    border: none;
    color: #F9F2ED;
    border-radius: 10px;
}