img {
    float: left;
    display: block;
}

.all-container {
    padding: 35px
}

.card {
    box-shadow: rgb(0 0 0 / 25%) 0px 3px 8px;
    list-style-type: none;
    display: block;
    padding: 20px;
    margin-bottom: 20px;
    overflow: auto;
    display: flex;
    flex-flow: row;
}

.search-result-main {
    border-right: 1px solid rgba(92, 89, 86, 0.25);
    width: 70%;
    float: left;
    padding-left: 20px;
    padding-right: 20px;
}

.search-result-aside {
    padding-left: 20px;
    padding-right: 20px;
    float: left;
}

.add-new {
    text-align: center;
    cursor: pointer;
    background-color: #3AB0FF;
    margin-left: 38px;
}

.filter {
    width: 25%;
}

main {
    width: 75%;
    height: 100%;
    margin-left: 30px;
    float: right;
    /* background-color: #3AB0FF; */
}