/* munculkan kotak pesan ketika klik bagian password */
#message {
    display: none;
    background: #f1f1f1;
    color: #000;
    position: relative;
    padding: 20px;
    margin-top: 10px;
}

#message p {
    padding: 10px 35px;
    /*font-size: 18px;*/
}

/* tambah centang dan warnai hijau jika terpenuhi */
.valid {
    color: green;
}

.valid:before {
    position: relative;
    left: -35px;
    content: "✔";
}

/* tambah centang dan warnai merah jika tidak terpenuhi */
.invalid {
    color: red;
}

.invalid:before {
    position: relative;
    left: -35px;
    content: "✖";
}