img {
    float: left;
    display: block;
}

.all-container {
    padding: 35px
}

.card {
    box-shadow: rgb(0 0 0 / 25%) 0 3px 8px;
    list-style-type: none;
    padding: 20px;
    margin-bottom: 20px;
    overflow: auto;
    display: flex;
    flex-flow: row;
}

.search-result-main {
    border-right: 1px solid rgba(92, 89, 86, 0.25);
    width: 70%;
    float: left;
    padding-left: 20px;
    padding-right: 20px;
}

.search-result-aside {
    padding-left: 20px;
    padding-right: 20px;
    float: left;
}

.search-results {
    padding: 0;
}

.add-new {
    text-align: center;
    cursor: pointer;
    background-color: #3AB0FF;
    float: left;
    padding: 0.5% 2%;
    margin-top: 2vh;
}

.filter {
    width: 100%;
}

.filter input[type=text] {
    width: 70%;
    margin: 15px 0;
    padding: 5px;
    font-size: 3vh;
}

.filter input[type=submit] {
    background-color: #3AB0FF;
    cursor: pointer;
    border: 2;
    border-style: solid;
    border-color: #3AB0FF;
    color: black;
    width: 20%;
    margin: 15px 0;
    padding: 5px;
    font-size: 3vh;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    /* background-color: #3AB0FF; */
}

@media only screen and (max-width: 900px) {

    html,
    body {
        width: 100%;
        height: 100%;
        overflow-x: hidden;
    }

    .all-container h2 {
        font-size: 4vh;
        margin-top: 10vh;
    }

    .card {
        flex-flow: column;
    }

    .icon-class {
        font-size: 2em;
        padding-right: 2em;
    }

    .filter {
        font-size: 2vh;
        width: 100%;
    }

    .filter input[type=text] {
        width: 60%;
        margin: 15px 0;
        padding: 5px;
        font-size: 3vh;
    }

    .filter input[type=submit] {
        background-color: #3AB0FF;
        border: 2;
        border-style: solid;
        border-color: #3AB0FF;
        color: black;
        width: 30%;
        margin: 15px 0;
        padding: 5px;
        font-size: 3vh;
    }
}